@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "IBM Plex Sans Arabic", sans-serif;
    user-select: none;
}
:root {
    --red-color: #f00;
}
body {
    background-color: #000;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    color: #fff;
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
.header {
    margin-top: 20px;
}
.circuts {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 20px;
    padding-bottom: 40px;
}
.boxOfCircuts {
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
.boxOfCircuts .box {
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    border: 2px solid #333;
    padding: 20px;
    border-radius: 20px;
    position: relative;
}
.boxOfCircuts .before-color,
.boxOfCircuts .after-color {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    z-index: -1;
}
.boxOfCircuts .after-color {
    right: 10px;
    top: 10px;
}
.boxOfCircuts .before-color {
    left: 10px;
    bottom: 10px;
}
.boxOfCircuts .box img {
    width: 50px;
    border-radius: 6px;
}
.boxOfCircuts .box h3 {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.boxOfCircuts .box .info {
    color: #999;
}
.boxOfCircuts section {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 1;
}